{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link ref="stylesheet" href="{% static login.css%}"
    <title>Document</title>

</head>

<body>
    <form>
        <div class="login-up-form">
          <input type="text" placeholder="Enter Email" name="email" required />
          <input
            type="password"
            placeholder="Enter Password"
            name="password"
            required

          <button type="submit" class="sign-up-btn">Login</button>
        </div>
      </form>
    
</body>
</html>