.login {
    border-radius: 6.25rem;
    border: 1px solid #000;
    background: rgba(234, 234, 234, 0);
    width: 37.25rem;
    height: 3.5625rem;
    flex-shrink: 0;
    display: inline;
    padding: 20px;
}