{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'home.css' %}" />

  <title>Home</title>
</head>
<body>
  <h1>This is the main dashboard page.</h1>
  <a href="settings">Settings</a>
  <a href="logout">Log Out</a>
  <h1>Posts</h1>
  {% for post in posts %}
  <div class="post">
    <p>Posted by @{{post.user}}</p>
    <img src="{{post.image.url}}">
    <p>{{post.caption}}</p>
  </div>
  {% endfor %}
</body>
</html>