{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Happy Dose</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'sign.css' %}" />
  </head>
  <body>
    <main>
      <nav id="desktop-nav">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="61"
          height="61"
          viewBox="0 0 61 61"
          fill="none"
        >
          <path
            opacity="0.5"
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M20.6027 46.3778C13.4657 40.8776 5.08331 34.4193 5.08331 23.2232C5.08331 10.8631 19.0625 2.09689 30.5 13.9817V52.1042C27.9583 52.1042 25.4166 50.1471 22.7784 48.0629C22.0744 47.5088 21.3449 46.9497 20.6027 46.3778Z"
            fill="black"
          />
          <path
            d="M38.2216 48.0629C45.7017 42.1713 55.9167 35.5833 55.9167 23.2258C55.9167 10.8656 41.9375 2.09942 30.5 13.9843V52.1042C33.0417 52.1042 35.5833 50.1471 38.2216 48.0629Z"
            fill="black"
          />
        </svg>
        <div class="logo-title">HappyDose</div>
        <div>
          <ul class="nav-links">
            <li><a href="#about">About</a></li>
            <li><a href="#signup">Sign Up</a></li>
            <li><a href="login">Login</a></li>
          </ul>
        </div>
      </nav>
      <br />
      <div class="image-and-phrase">
        <img
          src="{% static 'assets/yogalineart.png' %}"
          alt="Line art of a person meditating"
          class="main-image"
        />
        <h2 class="phrase">
          Brighten your feed, light up your day- Happy Dose, Appreciate the
          Little Things
        </h2>
      </div>
      <div id="about" class="about">
        <h1>About</h1>
        <div class="about-image-and-decs">
          <p>
            At Happy Dose, our mission is simple yet powerful: to encourage
            happiness in every moment. We believe that by fostering a community
            focused on sharing positivity, we can collectively enhance the joy
            in our lives. Research has shown that practicing gratitude can
            significantly boost happiness levels. According to a study by Emmons
            and McCullough (2003), expressing gratitude has a scientifically
            proven impact on well-being. Each day, Happy Dose provides you with
            a platform to share one thing that made you happy, embracing the
            idea that acknowledging and appreciating the positive aspects of
            life can lead to increased happiness. Join us on this journey of
            spreading joy, one post at a time. Let's create a ripple effect of
            happiness together!
          </p>

          <img
            src="{% static 'assets/heartperson.png' %}"
            alt="line art of a person looking up at a heart"
          />
        </div>
      </div>

      <div id="signup" class="sign-in-heading"><h1>Sign Up</h1></div>
      <div class="form-signup">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="sign-up-form">
            <input
              type="text"
              placeholder="Enter Username"
              name="username"
              required
            />
            <input
              type="text"
              placeholder="Enter Email"
              name="email"
              required
            />
            <input
              type="password"
              placeholder="Enter Password"
              name="password"
              required
            />
            <input
              type="password"
              placeholder="Enter Password Again"
              name="password-repeat"
              required
            />
            <button type="submit" class="sign-up-btn">Sign Up</button>
          </div>
        </form>
      </div>

      <div>
        <style>
          h5 {
            color: red;
          }
        </style>
        {% for message in messages %}
        <h5>{{message}}</h5>
        {% endfor %}
      </div>
    </main>
  </body>
</html>
